/* sign in/sign up pages */
main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  align-content: center;
}

.sign-up-page,
.sign-in-page {
  justify-content: center;
  align-items: center;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.sign-up-form__title,
.sign-in-form__title {
  margin: 0 0 20px;
  text-align: center;
}

.sign-up-form__link,
.sign-in-form__link {
  color: #b1b1b1;
  transition: 0.1s color ease;
}

.sign-up-form__link:hover,
.sign-in-form__link:hover {
  color: #e0e0e0;
}

:focus,
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #3c4252;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

/* input */
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__heading {
  font-size: var(--font-size-100);
  line-height: 1;
}

.input input {
  min-width: 160px;
  min-height: 45px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 1px;
  cursor: text;
  appearance: none;
}

.button {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #b1b1b1;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #3c4252;
}

.chattersList {
  height: calc(100vh - 175px);
  overflow: auto;
}

.chattersList__title {
  font-weight: 400;
  font-size: 32px;
  color: #009ef0;
  margin: 50px 20px;
}

.chatter {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 2px #f5f5f5 solid;
  padding: 20px;
  transition: background-color 0.2s linear;
}
.chatter:hover {
  background-color: #fafafa;
}
.chatter p {
  margin: 0;
}

.chatter__info {
  display: flex;
  width: 100%;
}

.chatter__detail {
  margin-left: 10px;
  width: 100%;
}

.detail__name {
  font-size: 18px;
}

.detail__message {
  word-break: break-word;
  color: #b1b1b1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
  max-width: 293px;
}

.chatter__time {
  white-space: nowrap;
}

.chatter__detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chattersList::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chattersList::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.chattersList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.chattersList::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.chattersList::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}