@import "../../../vars/vars";

.user__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

.user__read {
  position: absolute;
  right: 0;
  bottom: 0;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.user__icon-online {
  position: absolute;
  top: 30px;
  left: 35px;
  font-size: 22px;
  color: #1eb522;
}