/* sign in/sign up pages */
main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  align-content: center;
}

.sign-up-page,
.sign-in-page {
  justify-content: center;
  align-items: center;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.sign-up-form__title,
.sign-in-form__title {
  margin: 0 0 20px;
  text-align: center;
}

.sign-up-form__link,
.sign-in-form__link {
  color: #b1b1b1;
  transition: 0.1s color ease;
}

.sign-up-form__link:hover,
.sign-in-form__link:hover {
  color: #e0e0e0;
}

:focus,
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #3c4252;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

/* input */
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__heading {
  font-size: var(--font-size-100);
  line-height: 1;
}

.input input {
  min-width: 160px;
  min-height: 45px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 1px;
  cursor: text;
  appearance: none;
}

.button {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #b1b1b1;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #3c4252;
}

.search {
  box-sizing: border-box;
  width: 100%;
  background-image: url("loupe.png");
  background-position: 10px 8px;
  background-repeat: no-repeat;
  background-color: #fafafa;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}